.login__button {
	display: block;
	position: relative;
	background: #ff5e65;
	border: 1px solid transparent;
	border-radius: 50px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	line-height: 40px;
	font-size: 18px;
	padding: 0 0px;
	white-space: nowrap;
	transition: background 0.5s ease;
	overflow: hidden;
	mask-image: -webkit-radial-gradient(white, black); 
	  transform: translateY(-10px);
	  margin-right: 10px;
	  margin-left: 20px;
  }
  .login__button:before {
	content: "";
	position: absolute;
	width: 20px;
	height: 100px;
	background: #fff;
	bottom: -25px;
	left: 0;
	border: 2px solid #fff;
	transform: translateX(-50px) rotate(45deg);
	transition: transform 0.5s ease;
  }
  .login__button:hover {
	background: transparent;
	border-color: #fff;
  }
  .login__button:hover:before {
	transform: translateX(500px) rotate(45deg);
  }